{% extends "wrapper.html" %}
{% load i18n %}

{% block title %}
{% trans "TasksList" %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                {% if tasks %}
                    {% for task in tasks %}
                        <tr>
                            <td>{{task.pk}}</td>
                            <td>{{task.name}}</td>
                            <td>{{task.task_type.name}}</td>
                            <td><a href="{% url 'theta_task' task.pk %}">Link</a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    No tasks.
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}