{% extends "wrapper.html" %}
{% load i18n %}

{% block title %}
{% trans "TasksList" %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans "ItemName" %}</th>
                    <th>{% trans "ItemType" %}</th>
                    <th>{% trans "Link" %}</th>
                </tr>
            </thead>
            <tbody>
                {% if tasks %}
                    {% for task in tasks %}
                        <tr>
                            <td>{{task.pk}}</td>
                            <td>{{task.name}}</td>
                            <td>{{task.task_type.name}}</td>
                            <td><a href="{% url 'theta_task' task.pk %}">{% trans "Link" %}</a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    {% trans "Empty" %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}