{% load i18n %}
<p class="card-title">{% trans "Submissions" %}</p>
<hr>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Solution</th>
            <th>Submission time</th>
            <th>Verdict</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        {% if not answers %}
            <tr>
                <td colspan="5">No answers yet.</td>
            </tr>
        {% else %}
            {% for answer in answers %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{answer.task.name}}</td>
                    <td>{{answer.created_at}}</td>
                    <td>
                        {% if answer.verdict %}
                            <span class="submission-verdict" type="{{answer.verdict.short_name}}">
                                {{answer.verdict.short_name|upper}}
                            </span>
                        {% else %}
                            Not tested yet.
                        {% endif %}
                    </td>
                    <td><a href="">Link</a></td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>