{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
</head>
<body>
    <div class="mobile-screen">
        <div class="card-dark">
            <h1 class="active-text">{% trans "SysName" %}</h1>
            <p>{% trans "MobileNotSupported" %}</p>
        </div>
    </div>
    {% include "includes/header.html" %}
    {% block subheader %}
        {% include "includes/subheader.html" %}
    {% endblock %}
    <main>
        {% block content %}{% endblock %}
    </main>
    {% include "includes/footer.html" %}
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>