{% extends "wrapper.html" %}
{% load i18n %}

{% block title %}
{% trans "HomePageName" %}
{% endblock %}

{% block content %}
<h1>{% trans "SysName" %}</h1>
<hr>

<div class="container">
    <h3>{% trans "OpenedContests" %}</h3>
    <div class="row d-flex justify-content-center">
        {% if opened_contests %}
            {% for contest in opened_contests %}
                <div class="card col-md-3 mx-2">
                    <div class="card-body">
                        <h5 class="card-title">{{ contest.name }}</h5>
                        <p class="card-text">Authored by {{ contest.author.fullname }}</p>
                        {% if not request.user.isAuthenticated %}
                            <a href="#" class="card-link">Enter</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>{% trans "NoOpenedContests" %}</p>
        {% endif %}
    </div>
</div>
{% endblock %}