{% load i18n %}
<header>
    <div class="container">
        <span class="title">
            <a href="{% url 'index' %}">{% trans 'SysName' %}</a>
        </span>
        <span class="slogan">
            // insert your code here
        </span>
        <ul class="nav-links">
            {% if request.user.is_authenticated %}
                <li>Welcome, <a class="active-link">{{request.user.username}}</a>.</li>
            {% else %}
                <li><a href="{% url 'login' %}" class="active-link">{% trans "LoginPageName" %}</a></li>
                <li><a href="{% url 'signup' %}">{% trans "SignupPageName" %}</a></li>
            {% endif %}
        </ul>
    </div>
</header>
