{% extends "wrapper.html" %}
{% load i18n %}

{% block title %}
{% trans "ContestResultTable" %}
{% endblock %}

{% block content %}
    <style>
        td{border:1px solid red}
    </style>
    <table>
        <tr>
            <th>num</th>
            <th>name</th>
            <th>point</th>
            <th>penalty</th>
            {% for task in contest.tasks.all %}
            <th>{{forloop.counter}}</th>
            {% endfor %}
        </tr>
        {% for line in results %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{ line.0 }}</td>
                <td>{{ line.1 }}</td>
                <td>{{ line.2 }}</td>
                {% for task in line.3 %}
                    <td>{{ task }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}